.mediaplayer {
    position: relative;
}

.video {
    width: 100%;
}
.controls{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 20%;
    transition: 0.5s opacity ease;
}
.controls:hover{
    opacity: 80%;
    
}
.controls:hover .playButton{
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.buttonContent{
    height: 200px;
    width: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playButton{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}

.playIcon {
    width: 0;
    height: 0;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
    border-left: 62px solid white;
    margin-left: 10px;
}

.pauseIcon {
    position: relative;
    width: 70px;
    height: 78px;
}

.pauseIcon::before,
.pauseIcon::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 22px;
    background-color: white;
    border-radius: 3px;
}

.pauseIcon::before {
    left: 0;
}

.pauseIcon::after {
    right: 0;
}
