@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    font-family: "Google Sans", sans-serif;
}

.videoInfo {
    height: 240px;
    padding: 15px;
}

.videoTitle {
    font-size: 15px;
}

.buttonHolder {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.profilePicture {
    height: 40px;
    width: 40px;
    border-radius: 1000px;
}

.channelSubs {
    color: gray;
    font-size: 10px;
}

.channelInfo {
    margin-left: 10px;
}

.greyButton {
    position: relative;
    height: 25px;
    width: 100px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.136);
    color: white;
    outline: none;
    border: none;
    font-size: 12px;
    margin-left: 20px;
}

.button {
    position: relative;
    height: 25px;
    width: 100px;
    border-radius: 1000px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    font-size: 12px;
    margin-left: 10px;
}

.likeDislikeButton {
    position: relative;
    height: 25px;
    width: 100px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    outline: none;
    border: none;
    font-size: 12px;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.likeIMG {
    width: 15px;
    height: 15px;
}

.likeCount {
    padding-right: 15px;
    border-right: gray 1px solid;
}

.shareButton {
    position: relative;
    height: 25px;
    width: 80px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    outline: none;
    border: none;
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shareIMG {
    width: 15px;
    height: 15px;
}

.moreButton {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
    outline: none;
    border: none;
    font-size: 12px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description{
    width: 100%;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.332);
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

.stats{
font-size: 10px;
font-weight: 600;
}

.descriptionText{
    font-size: 10px;
}